<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Controllers {% endblock %}
{% block content %}
<h1>Controller Page</h1>
{% if latest_controller_list %}
    <table class="table table-striped">
    <caption>Controller Information</caption>
    <tr>
        <th>Controller ID</th>
        <th>Controller Type</th>
        <th>Controller Owner</th>
        <th>Controller Name</th>
        <th>Controller IP_Address</th>
        <th>Controller Active</th>
        <th>Controller Last Online</th>
        <th>Controller Address</th>
        <th>Controller Access</th>
        <th>Controller Edit</th>
        <th>Controller Delete</th>
    </tr>
    {% for controller in latest_controller_list %}
        <tr>
            <td><a href="/doors/controllers/{{ controller.id }}/">{{ controller.id }}</a></td>
            <td>{{ controller.controller_type }}</td>
            <td><a href="/doors/users/{{ controller.device_owner_id }}">{{ controller.device_owner.first_name }} {{ controller.device_owner.last_name }}</td>
            <td>{{ controller.name }}</td>
            <td>{{ controller.ip_address }}</td>
            <td>{{ controller.device_online }}</td>
            <td>{{ controller.last_online }}</td>
            <td>{{ controller.number }} {{ controller.street }} {{ controller.locality }} {{ controller.city }}</td>
            <td><button onclick="window.location.href='/doors/trigger_controller/{{ controller.id }}';" target="_blank" class="save btn btn-default">Trigger!</button></td>
            <td><button onclick="window.location.href='/doors/edit_controller/{{ controller.id }}';" target="_blank" class="save btn btn-default">Edit</button></td>
            <td><button onclick="window.location.href='/doors/delete_controller/{{ controller.id }}';" target="_blank" class="save btn btn-default">Delete</button></td>
        </tr>
    {% endfor %}
    </table>
    <div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Controllers Listed Successfully! <a href="/">Go Home!</a>
  </div>
{% else %}
    <div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Danger!</strong> No Controllers were Found!
    <a href="/">Go Home!</a>
    </div>
{% endif %}
{% endblock %}
