<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <style>
        h1 {text-align: center;}
        ul {
            display: block;
        }
    </style>
</head>
<body>
<h1>User Page</h1>
{% if latest_user_list %}
    <table class="table table-striped">
    <caption>User Information</caption>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail Address</th>
        <th>Controllers</th>
    </tr>
    {% for user in latest_user_list %}
    <tr>
        <td><a href="/doors/users/{{ user.id }}/">{{ user.id }}</a></td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.email}}</td>
        <td>
            {% for controller in user.door_controller_set.all %}
            <a href="/doors/controllers/{{ controller.id }}/">{{ controller.name }}</a>
                <br />
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </table>
<div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Users Listed Successfully!
  </div>
{% else %}
    <div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Danger!</strong> No Users were Found!
    </div>
{% endif %}

</body>
</html>