<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Garage Door Control Interface</h1>
    <p>Welcome to Garage Door Control Interface Site! </p>
  </div>
  <p>This is some text.</p>
  <p>This is another text.</p>
</div>
</body>
</html>